body {
    font-family: Arial, sans-serif;
}

.list-box {
    margin-bottom: 10px;
}

.list-name {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
}

.url-list {
    width: 100%;
    height: 100px;
}

button {
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
}

