body {
    width:  200px;
}

.popup-container {
    width: 200px;
    padding: 10px;
    background-color: white;
}

h1 {
    font-size: 28px;
}

#settings {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    padding: 0;
    color: #337ab7;
}

#settings:hover {
    text-decoration: underline;
}

.list-button {
    display: block; /* Makes each button occupy its own line */
    width: 100%; /* Optional: Makes the button span the full width of its container */
    margin: 5px 0;
    /* padding: 10px; */
    /* font-size: 16px; */
    /* cursor: pointer; */
    /* border-radius: 4px; */
    /* transition: background-color 0.3s; */
}

/* .list-button:hover {
    background-color: #0056b3;
} */
