h1 {
    font-size: 28px;
    margin: 0;
}

.header {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.header img.header-icon {
    height: 28px;
    margin-right: 10px;
}

.popup-container {
    width: 250px;
    padding: 10px;
    background-color: white;
}

.list-button {
    display: block;
    width: 100%;
    margin: 5px 0;
}

#settings:hover {
    text-decoration: underline;
}